<% provide(:title,"Home") %>

<h1>AdventureTracker</h1>
<p>Welcome to AdventureTracker!</p>
<p>Here's a list of the RPGs that you're running:</p>
<table style="width:100%">
    <tr><th>RPG Name</th><th>Description</th></tr>
    <% Game.where(gm_id: session[:user_id]).each do |thisgame| %>
        <tr>
        <td><a href=/games/<%= thisgame.id %>><%= thisgame.name %></a></td>
        <td><%= thisgame.description %></td>
        <td><a href=/games/<%= thisgame.id %>/edit>Edit</a>  |  New Meeting   </td>
        </tr>
    <% end %>
</table>