 <% provide(:title, 'Delete RPG') %>
<h1>Delete RPG</h1>
 <%= form_for(@game, url: game_path(@game.id), method: :delete) do |f| %>
    Are you sure? Final confirmation before deletion.
    <br>
    <br>
    <br>
    <br>
    <%= f.submit "Delete Game", class: "btn btn-danger" %>
 <% end %>