<% provide(:title,"About") %>
<br>
<p>
AdventureTracker is a website dedicated to helping you organize your RPG meetings. Once you've created an account, it's very easy to create RPGs, just click on the "Create Game" button in the top left (only appears when logged in). Once your game is created, you can invite players to join simply by sending them the url of the game (https://adventuretracker.herokuapp.com/games/[number]). Once a player has followed that link, you'll get the option to accept or reject them. You can also use AdventureTracker to schedule meetings of games, which the player's will see the time of in their own timezone.
<br>
<br>
AdventureTracker is a Rails app made by <a href="https://linkedin.com/in/rudy-summers-61960042/">Rudy Summers</a>. Feel free to shoot me email if you have any questions, feature requests, or bug reports at summersrudy@gmail.com. 
</p>